@import "reset";

.content-box{
	margin: auto;
	max-width: 1000px;
	height: 100vh;
	position: relative;
}

.text-input{
	opacity: 0;
}

.incorrect{
	color: red;
}

.correct{
	color: green;
}

.cursor{
	position: absolute;
	background-color: teal;
	height: 1.5em;
	width: 5px;	
	margin: 0.25em;
}

.text-content{
	position: absolute;
	height: 6.75em;
	top: 50%;
	transform: translateY(-50%);
	overflow: hidden;
	padding-bottom: 1em;

	.text{
		font-family: 'Roboto Mono', monospace;
		font-size: 1.5rem;
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;

		.word{
			box-sizing: border-box;
			line-height: 1em;
			margin: 0.25em;

			span{
				display: inline-block;
			}
		}
	}
}


